* {
    overflow: hidden;
}

.container {
    background-color: hsl(0, 100%, 74%);
    background-image: url("BG.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 97vh;
}

/*-----------------------------LADO IZQUIEDO---------------------*/

.texto {
    padding-right: 100px;
    width: 490px;
    height: 380px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descripcion_chica,
.descripcion_grande {
    color: white;
}

.descripcion_grande {
    font-size: 70px;
}

.descripcion_chica {
    font-size: 20px;
}

/*-------------------------------- LADO DERECHO--------------------*/

.contenedor {
    box-shadow: 0 5px rgb(196, 194, 194);
    border-radius: 8px;
}

.titulo_form {
    display: flex;
    color: white;
    background-color: hsl(248, 32%, 49%);
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    border: grey 1px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px rgb(219, 191, 219);
}

.formulario {
    background-color: white;
    width: 500px;
    height: 450px;
    text-align: center;
    border-radius: 8px;    
}

.relleno {
    width: 400px;
    height: 50px;
    margin: 5px;
    border-radius: 8px;
    border-width: 1px;
    padding-left: 15px;
}

.name {
    margin-top: 30px;
}

.boton {
    background-color: hsl(154, 59%, 51%);
    width: 408px;
    height: 50px;
    box-shadow: 0 3px rgb(48, 139, 77);
    border-style: none;
    cursor: pointer;
    color: white;
}

.boton:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.boton:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.terminos {
    font-size: 10px;
}

.rojo {
    color: red;
}